@media (max-width: 1300px) {}

@media (min-width: 371px) and (max-width: 1300px) {}

@media (min-width: 577px) and (max-width: 1300px) {}

@media (min-width: 769px) and (max-width: 1300px) {}

@media (min-width: 992px) and (max-width: 1300px) {
    #Home .navbar .navbar-collapse {
        background-color: transparent;
    }
    #Home .navbar .navbar-collapse .nav-link {
        width: initial;
    }
    #Home .navbar .navbar-collapse .nav-item:not(:last-child) .nav-link {
        margin-right: 20px;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {}